/* --------------------------------------------------
タブ切替
-------------------------------------------------- */
.c-tab {
  padding: 0;
  margin: 0;
  
  &__head {
    width: 100%;
    height: 40px;
    background-color: rgba(34,49,52,0.9);
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 560px) {
      justify-content: space-between;
    }
  }

  &__hero {
    padding: 40px 0;
    margin: 0 auto 0px;
    width: 92%;
    max-width: 720px;

    @media screen and (max-width: 560px) {
      width: 92%;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  &__nav {
    display: flex;
    justify-content: center;
    margin: 0 auto 0px;
    width: 92%;
    max-width: 720px;
    
    @media screen and (max-width: 560px) {
      width: 92%;
    }
  }

  &__wrapper {
    margin: 0 auto 0px;
    width: 92%;
    max-width: 720px;

    @media screen and (max-width: 560px) {
      width: 92%;
    }
  }

  &__tabbar {
    cursor: pointer;
    display: block;
    padding: 0;
    margin: 0 0 4px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: $Dark-100;
    background-color: $Surface;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    box-shadow: 0 4px 0 $Dark-026;

    @media screen and (max-width: 560px) {
      @include fs-Button-S;
    }

    a {
      display: block;
      padding: 16px 0px 16px;
      width: 100%;
      height: 100%;
      color: $Primary;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover,
      &:focus,
      &:visited,
      &:active {
        text-decoration: none;

      }
    }

    &.js-active {
      display: block;
      padding: 0;
      margin: 0 0 4px;
      width: 50%;
      height: auto;
      text-align: center;
      color: $Light-100;
      font-size: 18px;
      text-decoration: none;
      background-color: $Primary;
      box-shadow: 0 4px 0 $Primary_Dark;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: $Light-100;
      }

      @media screen and (max-width: 560px) {
        @include fs-Button-S;
      }
    }
  }

  &__content {
    display: none;
    padding: 0;
    margin: 0;

    &.js-show {
      display: block;
    }
  }

  &__image {
    padding: 40px 0;
    margin: 0 auto 0px;
    width: 92%;
    max-width: 720px;

    @media screen and (max-width: 560px) {
      width: 92%;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__inner {
    padding-top: 40px;
  }

  &__list {
    padding: 0px 0px 80px;

    @media screen and (max-width: 560px) {
      padding: 0px 0px 40px;
    }
  }

  &__list-title {
    font-size: 24px;
    font-weight: bold;

    @media screen and (max-width: 560px) {
      @include fs-Subtitle-L;
    }
  }

  &__list-image {
    margin: 16px 0;
    width: auto;

    @media screen and (max-width: 560px) {
      margin: 8px 0;
    }
  }

  &__list-text {
    font-size: 16px;
    line-height: 1.8;

    @media screen and (max-width: 560px) {
      @include fs-Body-S;
    }
  }
}