/* --------------------------------------------------
フッター
-------------------------------------------------- */
.l-footer {

  &__copyright {
    margin: 0;
    padding: 10px 0;
    font-size: 1.3rem;
    text-align: center;
  }
  
}